<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../../assets/css/semantic.min.css">
    <script src="../../assets/js/angular.min.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <!-- MENU PRINCIPAL -->
    <div class="ui small menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <div class="right menu">
        <div class="ui dropdown item">
          Language <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">English</a>
            <a class="item">Russian</a>
            <a class="item">Spanish</a>
          </div>
        </div>
        <div class="item">
            <div class="ui primary button">Sign Up</div>
        </div>
      </div>
    </div>
    <!-- <input type="button" name="" value="Abrir" ng-click="btnNew()"> -->
    <!-- <input type = "file" file-model = "myFile"/>
    <button ng-click = "uploadFile()">Upload File</button> -->
    <button type="button" name="button" ng-click="btnRuta()">Seleccionar Ruta</button>
    <button type="button" name="button" ng-click="btnUpload()">Upload file</button>
    <button type="button" name="button" ng-click="btnSsh()">Conectarse</button>
    <!-- <button type="button" name="button" ng-click="testReturn()">Test</button> -->
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Conectarse via SSH
      </div>
      <div class="image content">
        <div class="ui medium image">
          <img src="/images/avatar/large/chris.jpg">
        </div>
        <div class="description">
          <div class="ui header">
            Ingresa tus credenciales.
          </div>
          <form class="ui form">
            <div class="field">
              <label>Host:</label>
              <input type="text" name="first-name" placeholder="Ingresa tu direccion ip" ng-model="m_ssh.ip">
            </div>
            <div class="field">
              <label>User:</label>
              <input type="text" name="first-name" placeholder="Ingresa tu direccion ip" ng-model="m_ssh.user">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="text" name="last-name" placeholder="Ingresa tu password" ng-model="m_ssh.password">
            </div>
          </form>
        </div>
      </div>
      <div class="actions">
        <div class="ui red deny button">
          Cancelar
        </div>
        <div class="ui positive right button" ng-click="doSsh(m_ssh)">
          Conectarse
        </div>
      </div>
    </div>
  </body>
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../controllers/home.js"></script>
  <script src="../../assets/js/semantic.min.js"></script>
  <script>if (window.module) module = window.module;</script>
</html>
